isodir/
!isodir/**/*.cfg
*.log
*.iso
*.txt
*.rtf
bin/
debug/
docs/files/ru/~$ководство пользователя.docx
test/
bochsout.txt
serial.txt
kernel/subsystems/
bin/apps/
limine
.vscode
.cache
compile_commands.json
docs/doxygen/html/
elf-loader/
__pycache__
