*.o
*.elf
*.log
*.iso
*.img
*.uibak
*.BIN
*.qcow2
*.tar
*.sea
*.vhd
*.tmp
docs/files/ru/~$ководство пользователя.docx
test/
bochsout.txt
serial.txt
kernel/subsystems/*
bin/apps/
initrd/apps/
limine/*
limine
iso_root/*
.vscode
.vscode/*
apps/zlib-1.1.0/*.o

