*.o
*.elf
*.log
*.iso
*.img
*.uibak
*.qcow2
*.tar
*.sea
*.vhd
*.tmp
*.rtf
bin/
docs/files/ru/~$ководство пользователя.docx
test/
bochsout.txt
serial.txt
kernel/subsystems/*
bin/apps/
limine
.vscode
.vscode/*
docs/doxygen/html/
*.EFI
*.bin
*.sys
*.sys
*.EFI
elf-loader/
